<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info" 
      throwExceptions="true"
      >
  <extensions>
    <!--enable NLog.Web for ASP.NET Core-->
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  
  <targets>
    <target xsi:type="Database"
       name="dblog"
       connectionString="Data Source=scp.realhost.com.ua;Initial Catalog=aitelegramchanneldb;User ID=user26044;Password=faleykiwtou4xvhjnrgz;TrustServerCertificate=true;"
       dbProvider="Microsoft.Data.SqlClient.SqlConnection, Microsoft.Data.SqlClient"
        commandText="INSERT INTO NLog(CreatedOn,Message,Level,Exception,StackTrace,Logger) VALUES (@datetime,@msg,@level,@exception,@trace,@logger)">
      <parameter name="@datetime" layout="${date}" />
      <parameter name="@msg" layout="${message}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@exception" layout="${exception}" />
      <parameter name="@trace" layout="${stacktrace}" />
      <parameter name="@logger" layout="${logger}" />
    </target>
    <target xsi:type="Console" name="logconsole"
           layout="${longdate}|${level}|${message} |${all-event-properties} ${exception:format=tostring}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="dblog">
      <filters  defaultAction="Log">
        <when condition="contains('${logger}','Microsoft')" action="Ignore" />
      </filters>
    </logger>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
  </rules>
</nlog>